<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>One Article | OTUS Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%= require('html-loader!../components/header.html').default %>

    <div class="content">
      <main class="main">
        <article class="article">
          <h2 class="article__title">One Article</h2>

          <div class="article__content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              nostrum dolores placeat soluta ipsa porro labore, quidem totam
              aliquid officiis similique atque dolorum voluptas deserunt
              voluptatibus quam perspiciatis ea. Saepe. Tempora animi autem iure
              delectus, reiciendis ratione rerum fugit veritatis, nobis id est.
              Esse eligendi, hic vitae voluptas eveniet cumque omnis similique
              ipsa sint. Mollitia repellendus in voluptatibus. Quia, nesciunt!
              Perspiciatis ab ut error nobis earum deleniti magni officiis
              aperiam quos consequatur! Veritatis ea quia facere error dolorem
              iure quam asperiores sunt rem magni voluptatum id corrupti
              voluptatibus, autem impedit.
            </p>
            <p>
              Quae impedit voluptas maxime dolorum temporibus illum quo a
              obcaecati nobis. Expedita voluptates in nisi ut. Sequi nisi vel
              nesciunt, eligendi consequatur eveniet, minima vero quis possimus
              obcaecati ad quam. Ratione iste quibusdam, qui vitae explicabo
              debitis! Laborum molestias recusandae veniam sit alias officiis
              sapiente deserunt unde. Temporibus accusamus quisquam possimus
              ipsum veritatis. Possimus quasi, officiis ipsum perspiciatis
              similique nulla? Assumenda cum mollitia deleniti error optio alias
              explicabo sed, doloribus reprehenderit, laudantium suscipit
              praesentium! Quaerat, quae laborum dolore magnam quo tempore
              magni? Ab consequuntur obcaecati hic, nobis consequatur sint
              reiciendis? Exercitationem fuga non ut voluptas libero dolores
              nam, aspernatur beatae eligendi, aliquam, accusantium mollitia
              animi fugiat officia facilis excepturi qui. Nisi vel incidunt,
              maxime suscipit eum commodi porro expedita odit! Velit,
              dignissimos vitae ducimus deserunt quam voluptates sint dolorum
              voluptate facilis nulla earum laboriosam, saepe at? Sint veniam
              eaque voluptates, atque ullam deleniti nisi rem similique aliquid
              itaque assumenda! A. Praesentium odio accusantium autem voluptas
              iure aspernatur fuga tempora quidem ratione? Reiciendis nesciunt
              voluptatem expedita mollitia accusamus placeat. Voluptates
              distinctio molestiae animi aperiam autem nostrum deserunt ipsa
              assumenda ratione sunt. Quasi ea iste dolor, voluptate
              voluptatibus unde mollitia quisquam illum distinctio, placeat
              vitae? Porro quas atque mollitia sequi omnis perferendis et
              consequatur vitae, sed dolores cum nisi temporibus quo nam!
            </p>
            <p>
              Iusto amet corrupti nobis minus dolores est cum. Numquam, delectus
              at natus quasi iste pariatur iusto voluptatum labore, culpa
              deleniti ab omnis ex similique nisi ducimus. Repudiandae nemo
              quasi similique? Sed eaque a mollitia earum, dolore saepe!
              Obcaecati illum mollitia praesentium corporis. Rem ab omnis
              voluptatum tenetur nesciunt dignissimos eum recusandae maxime,
              soluta pariatur ea molestiae rerum quidem dolore facilis. Laborum
              reprehenderit placeat deserunt sunt nobis assumenda quod quisquam
              omnis minus sed adipisci ad officia unde harum neque cum dolor
              laudantium asperiores eius aspernatur et quam, id corrupti
              aliquam! Maiores? Autem aliquid dicta id qui cupiditate. Accusamus
              voluptatem fugit eveniet praesentium consectetur quaerat earum,
              facilis cupiditate, cum culpa provident minus quibusdam reiciendis
              ipsum. Odit animi, laboriosam optio quia iure rem! Odit ab porro
              officiis nisi labore praesentium reiciendis maxime, modi nulla
              doloremque unde quam officia vero eaque voluptates inventore
              illum. Dicta laboriosam cum ea accusantium quod facere at, nam
              quisquam.
            </p>
          </div>
        </article>
      </main>

      <%= require('html-loader!../components/aside.html').default %>
    </div>

    <%= require('html-loader!../components/footer.html').default %>
  </body>
</html>
