<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Articles | OTUS Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%= require('html-loader!../components/header.html').default %>

    <div class="content">
      <main class="main">
        <article class="article">
          <h2 class="article__title">
            <a
              href="./article.html"
              target="_blank"
              rel="noopener noreferrer"
              class="article__link"
              >Article 1</a
            >
          </h2>

          <div class="article__content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
          </div>
        </article>

        <article class="article">
          <h2 class="article__title">
            <a
              href="./article.html"
              target="_blank"
              rel="noopener noreferrer"
              class="article__link"
              >Article 2</a
            >
          </h2>

          <div class="article__content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
          </div>
        </article>

        <article class="article">
          <h2 class="article__title">
            <a
              href="./article.html"
              target="_blank"
              rel="noopener noreferrer"
              class="article__link"
              >Article 3</a
            >
          </h2>

          <div class="article__content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis
              quo itaque sequi, optio doloribus quidem dolores aliquam at nisi,
              tempora explicabo asperiores temporibus a, eius doloremque ut
              beatae ullam nobis.
            </p>
          </div>
        </article>
      </main>

      <%= require('html-loader!../components/aside.html').default %>
    </div>

    <%= require('html-loader!../components/footer.html').default %>
  </body>
</html>
