<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>OTUS Blog</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%= require('html-loader!../components/header.html').default %>

    <div class="content">
      <main class="main">
        <h1>Main Page of OTUS Blog</h1>

        <div class="slider">
          <div class="slider__wrapper">
            <div class="slider__item">Slide 1</div>
            <div class="slider__item">Slide 2</div>
            <div class="slider__item">Slide 3</div>
          </div>

          <button
            type="button"
            class="slider__button slider__button_prev"
            data-slide="prev"
          ></button>
          <button
            type="button"
            class="slider__button slider__button_next"
            data-slide="next"
          ></button>
        </div>
      </main>

      <%= require('html-loader!../components/aside.html').default %>
    </div>

    <%= require('html-loader!../components/footer.html').default %>
  </body>
</html>
