<footer class="footer">
  <nav class="footer__item nav nav_1">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="./articles.html" class="nav__link">Articles</a>
      </li>
      <li class="nav__item">
        <a href="./feedback.html" class="nav__link">Feedback</a>
      </li>
      <li class="nav__item">
        <a href="./sign-in.html" class="nav__link">SignIn</a>
      </li>
    </ul>
  </nav>

  <nav class="footer__item nav nav_2">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="./articles.html" class="nav__link">Articles</a>
      </li>
      <li class="nav__item">
        <a href="./feedback.html" class="nav__link">Feedback</a>
      </li>
      <li class="nav__item">
        <a href="./sign-in.html" class="nav__link">SignIn</a>
      </li>
    </ul>
  </nav>

  <div class="footer__item subscribe">
    <form class="subscribe-form">
      <input
        type="email"
        name="email"
        class="subscribe-form__input"
        placeholder="Enter your email address"
      />
      <button type="submit" class="subscribe-form__btn">Subscribe</button>
    </form>
  </div>

  <ul class="footer__item social">
    <li class="social__item">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="social__link social__link_github"
      ></a>
    </li>
    <li class="social__item">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="social__link social__link_telegram"
      ></a>
    </li>
    <li class="social__item">
      <a
        href="#"
        target="_blank"
        rel="noopener noreferrer"
        class="social__link social__link_vk"
      ></a>
    </li>
  </ul>
</footer>
